div {
    background-color: #da5d5d;
    border: 5px;
    padding: 1px solid #000000;

}
.bouton {
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    background-color: rgb(190, 20, 20);
    color: black;
    border: 2px solid rgb(44, 7, 145)
 
}

.bouton:hover {
    background-color: rgb(225, 240, 243);
    color: rgb(31, 29, 29);
    font-size: 24px;
    border-radius: 12px;
}


body{
	font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    color:#ce0627
}